$ let images = require('../../../data/images');

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>Image Gallery 🌈 Marko Demo App</title>
  </head>
  <body>
    <image-gallery images=images />
  </body>
</html>
